:root {
  font: 16px/1.5 system-ui, 'Segoe UI', Roboto, sans-serif;
  color: #b3b3b3;
  background: #121212;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

h1,
h2 {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}
